.main-container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
}

.days-container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -webkit-column-gap: 8px;
          column-gap: 8px;
  row-gap: 8px;
  color: #2e2e2e;
}

.days-container .action-container, .days-container .button {
  position: relative;
  border: 2px solid #2e2e2e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 3vw;
  font-family: 'Montserrat';
}

.days-container .action-container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  overflow: auto;
  border-radius: 10px 10px;
  background-color: #f7f7f7;
  grid-column: span 7;
  max-height: 40vh;
  margin-bottom: 8px;
  scrollbar-width: thin;
  scrollbar-color: #96d9ee #eaf9fa;
  -webkit-transition: height 0.5s ease-in;
  transition: height 0.5s ease-in;
}

.days-container .action-container .hours-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[24];
      grid-template-columns: repeat(24, 1fr);
  width: 100%;
  margin: 0 auto;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  overflow-x: scroll;
}

.days-container .action-container .hour {
  -ms-grid-row: 1;
  grid-row: 1;
  padding-bottom: 5px;
  min-width: 24px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  text-align: right;
  font-size: 60%;
}

@media (min-width: 1150px) {
  .days-container .action-container .hour {
    font-size: 30%;
  }
}

.days-container .action-container span {
  border-left: 1px dashed grey;
  -ms-grid-row: 1;
  -ms-grid-row-span: 19;
  grid-row: 1 / span 19;
}

.days-container .action-container .task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fcfcfc;
  border-radius: 7px;
  margin: 2px;
  font-family: "Arial Narrow";
  font-size: 0.4em;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-left: 5px;
  -ms-flex-item-align: center;
      align-self: center;
  resize: horizontal;
  overflow: auto;
}

@media (min-width: 1150px) {
  .days-container .action-container .task {
    font-size: 25%;
  }
}

.days-container .occupied {
  border-radius: 5px 5px;
  margin: 5px;
  background-color: firebrick;
  grid-column: span 7;
}

.days-container .action-container.off {
  border: none;
  height: 0px;
  margin-bottom: 0px;
  -webkit-transition: height 0.5s ease-in;
  transition: height 0.5s ease-in;
}

.days-container .button {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #b2f3ed;
}

.days-container > .button::before {
  content: '';
  padding-bottom: 100%;
}
/*# sourceMappingURL=styles.css.map */