$main-color : #f7f7f7;

.main-container{
    position: relative;
    display: grid;
    grid-template-rows: repeat(2, auto);
    // row-gap: 20px;
}

.days-container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 8px;
    row-gap: 8px;
    color: #2e2e2e;
    
    .action-container, .button{
        position: relative;
        border: 2px solid #2e2e2e;
        box-sizing: border-box;
        font-size: 3vw;
        font-family: 'Montserrat';
    }
    .action-container{
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        overflow: auto;
        border-radius: 10px 10px;
        background-color: $main-color;
        grid-column: span 7;
        min-height: 20vw;
        margin-bottom: 8px;
        scrollbar-width: thin;
        scrollbar-color: #96d9ee #eaf9fa;

        .hours-container{
            display: grid;
            grid-template-columns: repeat(24, 1fr);
            // grid-gap: 10px 0px;
            width: 100%;
            // max-width: 1150px;
            // padding-top: 40px;
            margin: 0 auto;
            transition: all 0.1s ease-in ;
            
        }
        .hour{
            grid-row:1;
            padding-bottom: 5px;
            min-width: 24px;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            text-align: right;
            font-size: 60%;
        }
        span{
            border-left: 1px dashed grey;
            grid-row: 1 / span 6;
        }
        .task{
            display: flex;
            color: rgb(252, 252, 252);
            border-radius: 7px;
            margin: 2px;
            font-family: "Arial Narrow";
            font-size: 0.4em;
            justify-content: left;
            padding-left: 5px;
            align-self: center;
            resize: horizontal;
            overflow: auto;
            
        }
    }
    
    
    .occupied{
        border-radius: 5px 5px;
        margin: 5px;
        background-color: firebrick;
        grid-column: span 7;
    }
    .action-container.off{
        border:none;
        height: 0;
        margin-bottom: 0px;
    }
    .button{
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #b2f3ed;
    }
}
.days-container>.button::before{
    content: '';
    padding-bottom:100% ;
}